<div class="header">
<%if(model.get("id")!== 1) {%>
  <ul class="uk-breadcrumb">
    <%var ancestry = model.get("ancestry").split("/")%>
    <%ancestry.forEach(function(id){%>
      <%var ancestor = DeepThought.rootCollection.findWhere({id: parseInt(id)})%>
      <li><a href="#/entries/<%=id%>"><%=ancestor.get("title")%></a></li>
    <%})%>
    <li class="uk-active"></li>
  </ul>
  <hr>
</div>

<h1>
<% var model_id = model.get('id')%>
<ul id="ul0">
  <li id="<%model_id%>">
    <form id="form<%=model_id%>">
       <textarea class="uk-form-blank" id ="ta<%=model_id%>"
        name="entry[title]"><%=model.get('title')%></textarea>
    </form>
  </li>
</ul>
</h1>
<%} else {%>
  <br>
<%}%>