<div class="header">
<%if (model.get("parent_id") !== null) {%>
  <ul class="uk-breadcrumb">
    <%var ancestry = model.get("ancestry").split("/")%>
    <%ancestry.forEach(function(id){%>
      <%var ancestor = DeepThought.rootCollection.findWhere({id: parseInt(id)})%>
      <li>
        <a href="#/entries/<%=id%>"><%=ancestor.get("title")%></a>
      </li>
    <%})%>
    <li class="uk-active"></li>
  </ul>
  <hr>

  <% var model_id = model.get('id')%>
 
  <h2>
  <ul id="ul0">
    <li id="<%model_id%>">
      <form id="form<%=model_id%>">
         <textarea rows="1" class="uk-form-blank entry-title" id ="ta<%=model_id%>"
          name="entry[title]"><%=model.get('title')%></textarea>
      </form>
    </li>
  </ul>
  </h2>
  <%} else {%>
  <br>
  <%}%>

  <button class="uk-button-link star" id="star<%=model_id%>">
  <%=model.get("starred") ? "<i class='fa fa-star'></i>" : "<i class='fa fa-star-o'></i>" %>
  </button> 
</div>