
<form id="form<%=model.get('id')%>">

  <input type="button" class="uk-button-link view-toggle" 
    id="button<%=model.get('id')%>" 
    value="<%= model.get("expanded") ? '-' : '+' %>">

  <label for "<%=model.get('title')%>">
    <a href="#/entries/<%=model.get('id')%>">●</a>
  </label>
   <textarea class="uk-form-blank"
    name="entry[title]"><%=model.get('title')%></textarea>
</form>

<ul id="ul<%=model.get('id')%>"></ul>
