
<% var model_id = model.get('id')%>
<form id="form<%=model_id%>">

  <input type="button" class="uk-button-link view-toggle" 
    id="button<%=model_id%>" 
    value="<%= model.get("expanded") ? '-' : '+' %>">

  <label for "<%=model.get('title')%>">
    <a href="#/entries/<%=model_id%>">●</a>
  </label>
   <textarea class="uk-form-blank" id ="ta<%=model_id%>"
    name="entry[title]"><%=model.get('title')%></textarea>
</form>

<ul id="ul<%=model_id%>"></ul>
