<% var model_id = model.get('id')%>
<form id="form<%=model_id%>" class="inline entry_form">

  <input type="button" class="uk-button-link view-toggle" 
    id="button<%=model_id%>" 
    value="<%= model.get("expanded") ? '-' : '+' %>">

  <label class="bullet" for "<%=model.get('title')%>"
    id="bullet<%=model_id%>">
    <a href="#/entries/<%=model_id%>"> ●</a>
  </label>

   <textarea class="uk-form-blank entry-title" id ="ta<%=model_id%>"
    name="entry[title]"><%=model.get('title')%></textarea>
</form>
<div id="arrow<%=model_id%>" class="draggable inline">⬍</div>
<ul id="ul<%=model_id%>"class="uk-animation-reverse-fade droppable">
<div class="hr"><hr></hr></div>
</ul>
<div class="hr"><hr></hr></div>
