
<form id="form<%=id%>">

  <button class="uk-button-link toggle-button">+</button>

  <label for "<%=title%>">
    <a href="#/entries/<%=id%>">●</a>
  </label>
  
  <input type="text" class="uk-form-blank uk-form-width-medium"
    value="<%=title%>" name="entry[title]">
  <input type="hidden" value="<%=parent_id%>" name="entry[parent_id]">
</form>

<ul id="ul<%=id%>"></ul>
